*{
    font-family: 'Exo 2', sans-serif;
}
body {
    margin: 0px;
}
.sticky {      
    color: #FFF;        
    margin: 0;
    padding: 3px 0 0 19px;
    position: -webkit-sticky;
    position: sticky;
    width: 99%;
    top: 0px;
}
.cabecalho {        
    background-color:cornflowerblue;
    height: 100px;
    border-bottom: 4px solid black;
    text-align: center;        
}
.menu {
    display: inline-block;        
    font-size: 1.5em;
    margin-top: 30px;
    text-align: center;
            
}
.menu a {
    display:inline-block;
    padding: 10px;
    border-radius: 25px;
}
.menu a:hover {
    background-color:rgb(75, 114, 185);
    color:darkgrey;
}

.conteudo {
    display:inline-block;
    height: 2000px;
    width: 90%;
    background-color:lightblue;
    position:absolute;
    
}


.grupo {
    float:right;
   
    margin: 10px;
}
.bloob img {
    position: relative;
    height: 450px;
    width: 100%;
    border-bottom:black 5px solid;
}
